<div class="product-tag">{% if product.tags contains "PDF download" %}PDF download{% endif %}</div>
<div class="description text-left">
    {% if settings.show_vendor %}<h2 id="product-vendor">{{ product.vendor | link_to_vendor }}</h2>{% endif %}
    {{ product.description }}
</div>
