<div class="product-header-title pt-2">
    <h1 class="product-title text-2xl">
        <g-icon class="reflect-x text-xl text-accent-secondary" :inline='true' path="{{ 'leaves-a.svg' | asset_url }}"></g-icon>
        {{ product.title }}</h1>
    <p class="price"></p>
</div>
