
/**
 * Cart
 */

#cartform table {
	width: 100%;
	margin: 0 0 20px 0;
}

#cartform table td {
	text-align: center;
	vertical-align: middle;
	padding: 10px 5px;
}

#cartform table tr {
	border-bottom: solid 1px #AED2C2;
}

#cartform table th {
	text-align: center;
}

col.checkout-image {
	width: 50px;
}

col.checkout-delete {
	width: 80px;
}


#cartform td img {
	display: block;
}

#cartform input.text {
	border: solid 1px #AED2C2;
	padding: 4px;
	text-align: center;
}

#cartform .subtotal {
	text-align: center;
}

#cartform .update-quantities {
	text-align: center;
	padding: 5px;
	width: 170px;
}

#cartform .btn {
	font-size: 14px;
}

#checkout-proceed {
	float: right;
	width: 38%;
	text-align: right;
}

#checkout-addnote {
	float: left;
	width: 60%;
}

#checkout-addnote a {
	display: block;
	font-size: 14px;
	width: 165px;
	float: left;
}

#checkout-addnote textarea {
	border: solid 1px;
	font-size: 14px;
	width: 250px;
	height: 60px;
	float: left;
	padding: 4px;
}

.js #checkout-addnote textarea {
	display: none;
}

#additional-checkout-buttons {
	padding: 5px;
	margin: 5px 0 0 0;
}

#additional-checkout-buttons-label {
	border-bottom: solid 1px;
	display: block;
	margin: 0 0 8px 0;
	font-size: 11px;
	font-weight: bold;
}
