/**
 * Product and Collection Grid
 */

.product-grid {
	list-style: none;
	margin: 0;

	li {
		width: 253px;
		float: left;
		margin: 0 35px 10px 0;
		padding: 8px 10px;
		position: relative;
		border: 1px solid #FFF;

		&:hover {
			border: 1px solid #aed2c2;
			background: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/grid-hover.png?v=3899892385498010040) no-repeat right bottom;
		}
	}

	img {
		display: block;
		max-width: 253px;
		margin: 0 auto;
	}

	.last-in-row {
		margin-right: 0;
	}

	a {
		text-decoration: none;
		display: block;

		&:hover {
			color: #555;
		}
	}

	.product-link {
		display: block;
		position: relative;
		z-index: 1;
		text-decoration: none;
		margin: 0;
		min-height: 50px;
		/* for ie6: */
		width: 100%;
	}

	.product-price {
		display: none;
		position: absolute;
		bottom: 0;
		right: 0;
		width: auto;
		padding: 5px 18px 5px 12px;
		text-align: center;
		font-size: 14px;
		background: #FFF;
	}

	.compare_at_price {
		text-decoration: line-through;
		margin-right: 5px;
		color: #ADADAD;
	}

	.product-grid-item {
		width: 253px;
		position: absolute;
		top: 10px;
		margin: 0 auto;

		.product-information {
			font-size: 18px;
			line-height: 18px;
			letter-spacing: 1px;

			h3 {
				margin: 5px 0 10px 0;
			}

			p {
				line-height: 1.4em;
				margin: 0 0 .75em 0;
			}
		}
	}
}

//FROM CUSTOM
/*
.product-grid li {
	float: left;
	padding: 15px;
	margin: 0px;
	border: 0 none;
	width: 33.33%;
	box-sizing: border-box;
	height: auto !important;
}

.product-grid li .ProductThumb {
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	float: left;
	height: auto !important;
	padding: 8px 10px;
	position: relative;
	width: 100%;
}

.product-grid li:hover {
	background: none;
	border: 0 none;
}

.product-grid li:hover .ProductThumb {
	background: url("//cdn.shopify.com/s/files/1/1817/4621/t/2/assets/grid-hover.png?17682974418437111509") no-repeat scroll right bottom rgba(0, 0, 0, 0);
	border: 1px solid #AED2C2;
}

.generated-height .product-grid-item {
	width: 100%;
	position: static;
}

.product-grid img {
	max-width: 100%;
}
.product-grid-item .product-link {
	height: 330px;
}

.product-grid img {
	max-height: 330px;
}
.product-grid .global_Collection_ic img {
	max-height: 70px;
}
*/

//@media (max-width: 767px) {
/*.product-grid li {
	width: 50%;
}

@media (max-width: 479px) {
.product-grid li {
		width: 100%;
	}
@media only screen and (max-width: 991px) {
	.product-grid-item .product-link {
		height: 250px;
	}
	.product-grid img {
		max-height: 250px;
	}
	@media only screen and (max-width: 767px) {
	.product-grid-item .product-link {
		height: 220px;
	}
	.product-grid img {
		max-height: 220px;
	}
	.product-grid .global_Collection_ic img {
		max-height: 40px;
		margin-left: 90px;
		display: inline-block;
	}
@media only screen and (max-width: 479px) {
	.product-grid-item .product-link {
		height: auto;
	}
	.product-grid img {
		max-height: 250px;
	}
	.product-grid .global_Collection_ic img {
		max-height: 40px;
		margin-left: 100px;
		display: inline-block;
	}
*/

.sort-by {
	font-size: 15px;
	font-style: italic;
	margin-right: 5px;
	padding: 9px 21px 0px 0;
	letter-spacing: 1px;
	color: #ADADAD;
	background: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/tiny-leaves.png?v=1436047718140478920) no-repeat right;
}

.toggle {
	font-size: 15px;
	letter-spacing: 1px;
	color: #ADADAD !important;
}

.toggle.thispage {
	color: #555 !important;
}

.small-divide {
	font-size: 7px;
	position: relative;
	bottom: 3px;
	color: #555 !important;
}


///TODO: I DO NOT KNOW WHAT FEATURED GRID IS????
#featured-grid li {
	width: 240px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

#featured-grid .product-photo {
	max-width: 240px;
}

#featured-grid .product-price {
	top: -30px;
	right: 0;
	bottom: auto;
	padding: 3px 8px;
	font-size: 14px;
	line-height: 24px;
}


/**
 * No products
 * Visible only to an empty store.
 */

#featured-grid .placeholder {
	display: block;
	width: 240px;
	height: 200px;
	background: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/placeholder-product.png?v=3352225548228640857) 50% 50% no-repeat;
}

.product-grid .placeholder {
	width: 177px;
	height: 130px;
	display: block;
	background: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/placeholder-product.png?v=3352225548228640857) 50% 50% no-repeat;
}


.no-products {
	position: relative;
}

.no-products-overlay {
	opacity: .75;
	background: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF', endColorstr='#BF', GradientType=0);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
	top: 0;
	left: 0;
}

.ie7 .no-products-overlay,
.ie8 .no-products-overlay {
	background: transparent;
}

.no-products-post-it {
	position: absolute;
	top: 125px;
	left: 198px;
	z-index: 5;
	width: 345px;
	height: 193px;
	font-size: 16px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
}

.no-products-post-it-content {
	padding: 65px 20px 20px 20px;
	line-height: 1.4em;
}

.no-products-post-it em {
	display: block;
	color: #3b3a34;
	font-style: italic;
	font-size: 20px;
	margin: 0 0 10px 0;
}

.no-products-post-it a {
	color: #25669c;
}
