
/**
 * Structure
 */

html,body { height: 100%; }
body { text-align: center; }

.wrapper{
   /* width: 85%;
    margin: 0 auto;
    text-align: left;*/
    //min-height: 100%;
}
.templateIndex .wrapper { width:916px;}
.ie6 .wrapper{ height: 100%; }

#col-main.content{
    width: 900px;
    font-size:16px;
    letter-spacing:0.05em;
}
#col-main.index {
    width:916px !important;
    margin:0 auto;
}
#col-main.full{
    width: 900px;
    float: none;
    margin:0 auto;
}

#col-widgets{
    float: right;
    width: 275px;
}
