
/**
 * Top Menu
 */

#top-menu{
    position:absolute;
    right:0;
    bottom:34px;
}
#top-menu li{
    float: left;
}
#top-menu a{
    color: #555555;
    font-size:18px;
    padding: 0 30px 0 15px;
    text-decoration: none;
    display: block;
}
#top-menu li.last a {
    padding: 0 2px 0 15px;
}
#top-menu a:hover {
    background: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/hover-leaf.png?v=6572094784437955602) no-repeat left 2px;
}
#top-menu a.active{
    color: #eec517;
}

/* dropdown menus */
#top-menu .has-dropdown{
    position: relative;
}
.js #top-menu .has-dropdown a{
    padding-right: 24px;
}

.js #top-menu .nav-arrow{
    position: absolute;
    top: 45%;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid ;
    display: block;
}

#top-menu ul ul{
    clear: none;
    position: absolute;
    z-index: 30;
    top: 0;
    left: -1px;
    padding: 5px 0;
    display: none;
    width: 175px;
    -moz-box-shadow: 0 2px 3px ;
    -webkit-box-shadow: 0 2px 3px ;
    box-shadow: 0 2px 3px ;
}
.ie6 #top-menu ul ul,
.ie7 #top-menu ul ul,
.ie8 #top-menu ul ul{
    border: solid 1px ;
    border-width: 0 1px;
}
#top-menu ul .first ul{
    left: 0;
}

#top-menu ul ul li{
    float: none;
    display: block;
    padding: 5px 10px;
}
#top-menu ul ul a{
    font-size: 12px ;
    margin: 0; padding: 0;
    display: block;
    border: none;
}
#top-menu ul ul a:hover{
    text-decoration: underline;
}


/**
 * Header Search
 */

.header-search{
    float: right;
    margin: 0;
    width: 215px;


    #top-search-input{
        width: 175px;
        font-size: 12px;
        padding: 6px 3px;
        border: solid 1px ;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        float: left;
    }
    #top-search-submit{
        border: none;
        width: 24px;
        height: 25px;
        float: right;
        margin: 0 0 0 8px;
        font-size: 0; /* ie7 */
        line-height: 50px; /* ie7 */
        &:hover{
            background-position: 0 -75px;
        }
    }
}


/**
 * Shopping Cart at the Top
 */

//body{ border-top: solid 6px #aed2c2; }

