/**
 * Umbrella
 */

.umbrella {
	//padding: 0 10px 0 12px;
	font-size: 12px;
	position: absolute;
	top: 25px;
	right: 0;

	@media (max-width: 991px) {
		top: 35%;
		right: 0;
		padding: 0px;
		position: static;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		@media (max-width: 991px) {
			text-align: center;
		}
	}

	li {
		//float: left;
		//padding: 3px 6px 0 0;
		//margin: 0 0 0 0;
		//font-weight: normal;
		list-style: none;

		@media (max-width: 991px) {

			display: inline-block;
			float: none;
		}
	}

	p {
		margin: 0;
	}

	a {
		/*color: #adadad;
		font-style: italic;
		letter-spacing: 1px;
		text-decoration: none;*/

		&:hover {
			//color: #eec517;
		}
	}

	#customer_login_link {
		///margin: 0 5px;
	}

	.num-items-in-cart .icon {
		//display: block;
		//padding: 3px 0 0 30px;
		//background: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/cart.png?v=13128683299730178493) 0 0 no-repeat;
	}

	.checkout-link {
	//	padding: 0;
		//margin-right: 0;
	//	border: none;
	}

	@media (max-width: 991px) {
		li.customer-account-links {
			position: absolute;
			//top: 10px;
			left: 0;
			padding: 0px;
		}
		li.cart-link {
		//	position: absolute;
			//top: 10px;
			//right: 0;
			padding: 0px;
		}
		.customer-logged-in & li.customer-account-links + li {
			position: absolute;
			top: 10px;
			left: 60px;
			padding: 0px;
		}
	}

	.sm-twitter a {
		background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-twitter.png?v=8024602645730599613);
	}

	.sm-facebook a {
		background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-facebook.png?v=15632106608496094103);
	}

	.sm-ravelry a {
		background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-ravelry.png?v=2609728131326572138);
	}

	.sm-pinterest a {
		background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-pinterest.png?v=4329136776144257300);
	}

	.sm-instagram a {
		background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-instagram.png?v=8764203506500091316);
	}
}

.social-icons {
	width: 24px;
	height: 24px;
	display: block;
	background-position: 0 0;
	text-indent: -9999em;
	position: relative;
	bottom: 4px;
}
