/**
 * O-Wool
 * A Shopify theme.
 *
 * Last update: October 8, 2012
 *
 * @version     1.0
 * @author      Aeolidia
 * @theme_url   http://aeolidia.com/
 *
 *
 */

/**
 * Reset
 */
//@import "reset";

/**
 * Base Content Styles
 */
//@import "base";

/**
 * Structure
 */
@import "structure";

/**
 * Header
 */

.top {
	padding: 40px 0 0 0;
	margin: 0 auto 18px auto;
	position: relative;
	z-index: 100;
	width: 904px;
}

.site-title {
	margin: 0;
	position: relative;
	bottom: 13px;
}
@media (max-width: 991px) {
	.site-title {
	//	text-align: center;
	}
}

/**
 * Top Menu
 */
@import "top-menu";


/**
 * Umbrella
 */
@import "umbrella";
/**
 * Sections
 */

.section-details {
	margin: 0 0 10px 0;
}

.section-details a {
	color: #555555;
	text-decoration: none;
}

.section-details .view-more {
	float: right;
	line-height: 32px;
}

.section-title {
	/*  font:  /1  this was broke;*/
	color: #555555;
	float: left;
	margin: 0;
}

.diagonal-divider {

	margin: 0 0 20px 0;
}

#page-title {
	font-size: 22px;
	padding: 0 0 15px 0;
	margin: 20px 0 20px 0;
	text-align: center;
	color: #555 !important;
}

/**
 * Breadcrumb
 */
@import "breadcrumb";

/**
 * Product and Collection Grid
 */
@import "product-grid";

/**
 * Single Product
 */
@import "product-page";

/**
 * Content
 */
@import "content";

/**
 * Pagination
 * Modified from http://twitter.github.com/bootstrap/
 */
@import "pagination";

/**
 * Widgets in the Right Column
 */

#col-widgets {
	color: #777777;
	font-size: 12px;
}

.widget {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0 0 20px 0;
	padding: 10px;
}

.widget h3 {
	margin: 0 0 10px 0;
	padding-bottom: 2px;
	font-size: 16px;
	font-weight: normal;
	color: #555;
	letter-spacing: 1px;
	border-bottom: 1px solid #555;
}

#col-widgets .widget h3 a {
	text-decoration: none;
}

.widget ul {
	margin: 0;
}

.widget li {
	padding: 0 0 5px 12px;
	list-style: none;
}

.widget-btns a {
	display: block;
	padding: 6px 12px;
	margin: 0 0 6px 0;
	text-decoration: none;
	overflow: hidden;
	height: 1%;
}

.widget-btns img {
	display: block;
	float: left;
	margin: 0 6px 0 0;
}

.widget-btns .btn-text {
	display: block;
	width: 165px;
	float: right;
}

/** twitter widget */
.no-js #widget-twitter {
	display: none;
}

.widget .tweet_list {
	margin: 0;
}

.widget .tweet_list li {
	margin: 0 0 10px 15px;
	padding: 0 0 10px 0;
	background: none;
	word-wrap: break-word;
	line-height: 1.3em;
	list-style: disc !important;
}

/** linklist widget */
.widget-linklist li {
	padding: 8px 0 0 0;
	margin: 8px 0 0 15px;
	list-style: disc !important;
}

.widget-linklist li:first-child {
}

.widget-linklist li a {
	display: block;
	margin: 0 0 0 0;
	text-decoration: none;
	color: #777777;
}

.ie7 .widget-linklist li a {
	float: left;
}

/**
 * Customer Accounts
 */
@import "account/accounts";

/**
 * Comments
 */
@import "comments";

/**
 * Search
 */
@import "search-page";

/**
 * Cart
 */
@import "cart";

/**
 * Footer
 */
@import "footer";

/**
 * Homepage Carousel
 */
@import "home-carousel";

/**
 * Utils
 */
@import "utils";

// TODO: DONT KNOW WHAT  THIS IS
.btn,
a.btn,
.btn-reversed {
	display: inline-block;
	background: #FFF;
	border: solid 1px #aed2c2;
	padding: 5px 10px 4px 10px;
	font-family: Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	text-decoration: none;
	font-weight: normal;
	font-size: 18px;
	font-style: italic;
	letter-spacing: 1px;
	text-align: center;
	cursor: pointer;
}

.btn:hover,
a.btn:hover,
.btn-reversed:hover {
	opacity: 0.6;
}

/**
 * Contact/Newsletter Forms
 */
@import "newsletter-form";

/* SelectBox Styles
 sb-selector.scss
 */
@import "sb-selector";

/* Added by Caroline on January 14th for Customizr */
// TODO: DONT KNOW WHAT  THIS IS

#product-actions input.text,
#product-actions input[type=text],
#product-actions textarea {
	width: 90%;
}

#product-actions input[type=text]:invalid,
#product-actions textarea:invalid {
	-moz-box-shadow: inset 0 0 1px 1px #FF9494;
	-webkit-box-shadow: inset 0 0 1px 1px #FF9494;
	box-shadow: inset 0 0 1px 1px #FF9494;
}

.error span {
	line-height: 2;
	color: red;
}

/* HC - Display Footer - 18 Jan '17 */
#bottom {
	height: unset !important;
}

#purchase {
	text-align: center;
}
