<form id="header-search" action="/search" method="get">
    <label for="top-search-input" class="visuallyhidden">Search</label>
    <input type="text" id="top-search-input" name="q" class="search-input" value="" accesskey="4"  autocomplete="off" placeholder="Search" />
    <input type="submit" id="top-search-submit" class="search-submit ir" value="Search" />
</form>
