<h2 class="text-2xl text-center">You may also like</h2>
<product-recommendations
        asset_url="{{ ' ' | asset_url }}"
        product_id="{{ product.id }}"
        limit="6"
        css_classes="<lg:px-8 grid gap-8 <md:grid-cols-2 grid-cols-3">
    <template #loading>
        <loading-spinner class="flex justify-center h-8 g-svg text-xl" fg="text-slate-300" bg="fill-accent-secondary"/>
    </template>
    {% comment %}
      this scoped slot does not work for some reason??
     <template #product="{product}">
      <h2>{{ product.title }}</h2>
     </template>
     {% endcomment %}
</product-recommendations>
