<style>
	.site-header__logo img {
		max-width: {{ section.settings.logo_max_width | escape | default: '180' | remove: 'px' | append: 'px' }};
	}

	@media screen and (max-width: 768px) {
		.site-header__logo img {
			max-width: 100%;
		}
	}
</style>


{% assign hero_full_height = true %}
<div data-section-id="{{ section.id }}" data-section-type="header-section" data-template="{{ template.name }}">
	{% comment %}{% include 'header.menu.mobile' %}{% endcomment %}
	<div class="header-container drawer__header-container">
		<div class="header-wrapper{% unless hero_full_height %} header-wrapper--over-hero{% endunless %}">
			{% include 'announcement-bar' %}
			{% render 'header' with menu_name:'Owool_Header' %}
			{% include 'header.mobile'  with menu_name:'Owool_Mobile-Header' %}
		</div>
	</div>
</div>


{% schema %}
{
"name": {
"de": "Header",
"en": "Header",
"es": "Encabezado",
"fr": "En-tête",
"it": "header",
"ja": "ヘッダー",
"pt-BR": "Cabeçalho"
},
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": {
"de": "Logo",
"en": "Logo",
"es": "Logo",
"fr": "Logo",
"it": "Logo",
"ja": "ロゴ",
"pt-BR": "Logotipo"
}
},
{
"type": "text",
"id": "logo_svg",
"label": {
"de": "Logo",
"en": "Logo",
"es": "Logo",
"fr": "Logo",
"it": "Logo",
"ja": "ロゴ",
"pt-BR": "Logotipo"
}
},
{
"type": "image_picker",
"id": "logo-inverted",
"label": {
"de": "Startseitenlogo",
"en": "Home page logo",
"es": "Logotipo de la página de inicio",
"fr": "Logo de la page d'accueil",
"it": "Logo della home page",
"ja": "ホームページのロゴ",
"pt-BR": "Logotipo da página inicial"
},
"info": {
"de": "In Slideshow anzeigen",
"en": "Shown on slideshow",
"es": "Mostrado en diapositivas",
"fr": "Affiché sur le diaporama",
"it": "Mostrato sulla presentazione",
"ja": "スライドショーに表示する",
"pt-BR": "Exibido em slides"
}
},
{
"type": "text",
"id": "logo_max_width",
"label": {
"de": "Benutzerdefinierte Logobreite (Pixel)",
"en": "Custom logo width (in pixels)",
"es": "Ancho del logotipo personalizado (en píxeles)",
"fr": "Largeur personnalisée du logo (en pixels)",
"it": "Larghezza logo personalizzato (in pixel)",
"ja": "ロゴの幅をカスタムする（ピクセルで）",
"pt-BR": "Largura do logotipo personalizado (em pixels)"
},
"default": {
"de": "180",
"en": "180",
"es": "180",
"fr": "180",
"it": "180",
"ja": "180",
"pt-BR": "180"
}
},
{
"type": "header",
"content": "Navigation"
},
{
"type": "select",
"id": "search",
"options": [
{
"value": "modal",
"label": {
"de": "Modal",
"en": "Modal",
"es": "Modal",
"fr": "Fenêtre modale",
"it": "Modal",
"ja": "モーダル",
"pt-BR": "Modal"
}
},
{
"value": "page",
"label": {
"de": "Seite",
"en": "Page",
"es": "Página",
"fr": "Page",
"it": "Pagina",
"ja": "ページ",
"pt-BR": "Página"
}
},
{
"value": "none",
"label": {
"de": "Keine",
"en": "None",
"es": "Ninguno",
"fr": "Aucun",
"it": "Nessuno",
"ja": "なし",
"pt-BR": "Nenhum"
}
}
],
"label": {
"de": "Suchtyp",
"en": "Search type",
"es": "Tipo de búsqueda",
"fr": "Type de recherche",
"it": "Tipo di ricerca",
"ja": "検索タイプ",
"pt-BR": "Tipo de pesquisa"
}
},
{
"type": "link_list",
"id": "main_menu_link_list",
"label": {
"de": "Menü",
"en": "Menu",
"es": "Menú",
"fr": "Menu",
"it": "Menu",
"ja": "メニュー",
"pt-BR": "Menu"
},
"default": "main-menu",
"info": {
"de": "Wenn Links zu lang sind, wird die Navigation eingeklappt und als Menü-Schaltfläche angezeigt. [Mehr Infos](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
"en": "The menu will collapse into a menu button if links are too long. [Learn more](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
"es": "La navegación colapsará en un botón de menú si los enlaces son demasiado largos. [Más información](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
"fr": "La navigation sera réduite à un bouton de menu si les liens sont trop longs. [En savoir plus](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
"it": "La navigazione si riducerà a un pulsante menu se i link sono troppo lunghi. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
"ja": "リンクが長すぎる場合、ナビゲーションがメニューボタンに折り畳まれます。[もっと詳しく](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)",
"pt-BR": "A navegação ficará oculta em um botão de menu se os links forem muito longos. [Saiba mais](https://help.shopify.com/manual/using-themes/themes-by-shopify/brooklyn#navigation-tips-tips-specific)"
}
},
{
"type": "link_list",
"id": "drawer_bottom_link_list",
"label": {
"de": "Zusätzliches Menü",
"en": "Secondary sidebar menu",
"es": "Menú adicional",
"fr": "Menu supplémentaire",
"it": "Menu aggiuntivo",
"ja": "追加メニュー",
"pt-BR": "Menu adicional"
},
"default": "footer"
},
{
"type": "checkbox",
"id": "drawer_search_enable",
"label": {
"de": "Suche aktivieren",
"en": "Enable search",
"es": "Habilitar búsqueda",
"fr": "Activer la recherche",
"it": "Abilita ricerca",
"ja": "検索を有効にする",
"pt-BR": "Ativar pesquisa"
}
},
{
"type": "header",
"content": {
"de": "Ankündigungsleiste",
"en": "Announcement bar",
"es": "Barra de anuncios",
"fr": "Barre d'annonces",
"it": "Barra degli annunci",
"ja": "告知バー",
"pt-BR": "Barra de anúncio"
}
},
{
"type": "checkbox",
"id": "show_announcement",
"label": {
"de": "Ankündigung anzeigen",
"en": "Show announcement",
"es": "Mostrar anuncio",
"fr": "Afficher l'annonce",
"it": "Mostra annuncio",
"ja": "告知を表示する",
"pt-BR": "Exibir anúncio"
},
"default": false
},
{
"type": "checkbox",
"id": "home_page_only",
"label": {
"de": "Nur Startseite",
"en": "Home page only",
"es": "Solo página de inicio",
"fr": "Page d'accueil uniquement",
"it": "Solo home page",
"ja": "ホームページのみ",
"pt-BR": "Apenas página inicial"
},
"default": true
},
{
"type": "text",
"id": "text",
"label": {
"de": "Text",
"en": "Text",
"es": "texto",
"fr": "Texte",
"it": "Testo",
"ja": "テキスト",
"pt-BR": "Texto"
},
"default": {
"de": "Hier Ankündigung platzieren",
"en": "Announce something here",
"es": "Anuncia algo aquí",
"fr": "Annoncer quelque chose ici",
"it": "Annuncia qualcosa qui",
"ja": "ここで告知してください",
"pt-BR": "Anuncie algo aqui"
}
},
{
"type": "url",
"id": "link",
"label": {
"de": "Link",
"en": "Link",
"es": "Enlace",
"fr": "Lien",
"it": "Link",
"ja": "リンク",
"pt-BR": "Link"
}
},
{
"type": "color",
"id": "color_bg",
"label": {
"de": "Leiste",
"en": "Bar",
"es": "Barra",
"fr": "Barre",
"it": "Barra",
"ja": "バー",
"pt-BR": "Barra"
},
"default": "#1c1d1d"
},
{
"type": "color",
"id": "color_text",
"label": {
"de": "Text",
"en": "Text",
"es": "texto",
"fr": "Texte",
"it": "Testo",
"ja": "テキスト",
"pt-BR": "Texto"
},
"default": "#fff"
}
]
}
{% endschema %}
