{% assign settingsDataDefault = section.settings %}
{% assign icon_path = _settings.icon_path  %}
{% if _settings.svg_path != "none" %}
    {% assign icon_path = _settings.svg_path  -%}
{% endif %}
{% assign icon_path_fin = icon_path  %}
{% if icon_path contains ".svg" %}
{% capture icon_path_fin -%}{% render 's-asset-url', asset_string: icon_path -%}{% endcapture -%}
{% endif %}
<h1>ICON {{ icon_path_fin }}</h1>
<gbt-icon
        path="{{ icon_path_fin | strip | strip_newlines }}"
        class="{{ _settings.css_classes | default: settingsDataDefault.css_classes }}"
        style="{% if _settings.color_toggle == true %}color: {{ _settings.icon_color | default: settingsDataDefault.iconify_color }};{% endif %}">
</gbt-icon>
{% assign _settings = null %}
