{% render 's-section-padding', _section: section %}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
    <div class="{{ section.settings.wrapper_css_classes }} content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
        <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
            {% render 's-block-divider', _settings:  section.settings  %}
        </div>
    </div>
</div>
{% schema 'gbt-divider/section.ts' %}
