{% if  section.settings.curator_heading != null and  section.settings.curator_heading != "" %}
    <h2 class="{{ section.settings.curator_heading_css }}"> {{ section.settings.curator_heading }} </h2>
{% endif %}


<!-- Place <div> tag where you want the feed to appear -->
<div id="curator-feed">
    <a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a>
</div><!-- The Javascript can be moved to the end of the html page before the </body> tag -->
<script type="text/javascript">
    /* curator-feed */
    //b84ff30c-2e1b-4e58-a4a8-99740e8d2d84 alternate id to test.
    (function () {
        var i, e, d = document, s = "script";
        i = d.createElement("script");
        i.async = 1;
        i.charset = "UTF-8";
        i.src = "https://cdn.curator.io/published/{{ section.settings.curator_publish_id }}.js";
        e = d.getElementsByTagName(s)[0];
        e.parentNode.insertBefore(i, e);
    })();
</script>

<script type="application/json">
{% schema %}
{
  "name": "Curator IO",
  "tag": "section",
  "settings": [
   {
      "id": "curator_heading",
      "type": "text",
      "label": "Heading:"
    },
    {
      "id": "curator_heading_css",
      "type": "text",
      "label": "Add custom css below",
      "default": "text-2xl text-center"
    },
    {
      "id": "curator_publish_id",
      "type": "text",
      "label": "Curator Publish ID ( from embed code )",
      "default": "8f06d909-ac15-451b-a5b8-0a275b7a44f5"
    },
     {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "curator-io",
      "category": "Feed"
    }
  ]
}
{% endschema %}

</script>
