<div id="col-main" class="index">

  {% include 'carousel' %}
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  {{ 'slick.js' | asset_url | script_tag }}

<script type="text/javascript">
$(document).ready(function() {
$('.MainSlider .Slide').slick( {
          autoplay: true,
  		  autoplaySpeed: 5000,
  		  dots: true,
          infinite: true,
          speed: 400,
          arrows: true,
          slidesToShow:1,
   		  slidesToScroll: 1,
        });

});
</script>
  
</div><!-- /#col-main -->