~$logo-width: 15%;

$show-guides: false;

[data-section-type="header-section"] {
	border-top: 2px solid color($chroma-active-scheme, accent);
}

.Owool_Header {

	$self: &;
	@include breakpoint-range(sm, "<=") {
		display: none;
	}
	@include u-default-container;
	//	@extend %u-reset-link-zcolor;

	padding-top: rhythm(1);

	position: relative;
	display: block;

	&__divider {
		@include rhythm-padding(md);

		@include breakpoint-range(sm, "<=") {
			display: none;
		}

		.__left,.__right{
		//	@include c-new-icon(base, relative-size);

		}
	}

	&__wrapper {

		display: grid;
		grid-template-columns: $logo-width 1fr;

		@include breakpoint-range(xl, ">=") {
			// background: red;
			grid-template-columns: 12% 1fr;

		}
		//grid-template-rows: 100% 100%;
		grid-gap: 0;

		justify-items: stretch;
		align-items: stretch;
		width: 100%;

		> * {
			&:nth-child(1) {
				@if ($show-guides) {
					background: pink;
				}
				grid-row-start: 1;
				grid-row-end: span 2;

			}

			&:nth-child(2) {
				@if ($show-guides) {
					background: orange;
				}
				align-self: flex-start;
			}

			&:nth-child(3) {
				@if ($show-guides) {
					background: yellow;
				}
				display: flex;
				justify-content: flex-end;
			}

			&:nth-child(4) {
				@if ($show-guides) {
					background: red;
				}
			}
		}
	}

	&__logo {

		width: 85%;

		.Owool_Logo_SVG {
			width: 100%;
			height: auto;
		}
	}

	&__meta {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: auto;
		flex-wrap: nowrap;

		$props: (
			background: true,
			foreground: true,
			border: false,
			accent:foreground
		);
	}

	//part of meta.
	.CartIndicator {
		width: auto;
		@include u-horizontal-list();
		align-items: center;
		.c-button__icon {
			//@include u-icon-svg(false,1.5em);
		}

		&-icon {
			display: flex;
		}

		.item-count {
			@include g-typeset(base, font-serif-italic);
			color: darken(color(accent), 20%) !important;

			a {
				color:inherit;
			}

			&.--active {

			}
		}
	}

	&__social {
		width: auto;
		height: 100%;
		@include u-horizontal-list();
	}

	&__customer {
		width: auto;

		@include g-typeset(base, font-serif-italic);

		a {
			color: darken(color(accent), 10%) !important;

		}

		padding: 0 rhythm(.5) 0 rhythm(1);
		@include u-horizontal-list();
		align-items: center;

		&-account {

		}

		&-login {

		}

		&-logout {

		}

		&-create {

		}
	}

	&__search {
		margin-right: 10px;
		.search-bar {
			input[type="search"] {
				border-width: 2px;
				border-bottom-width: 1px;
				width:38px;
				padding:0;
				@include u-transition(width,.5s);
				&:focus {
					border-bottom-width: 1px;
					width:250px;
				}
				& + label{
					margin-top: -2px;
				}
			}
		}
	}
}

.Owool_Main-Menu {

	display: flex;
	@include u-horizontal-list(flex-end);
	align-items: center;

	width: 80%;
	height: auto;
	$parent: &;

	&__item {
		$parent: &;
		@include u-transition(opacity);
		$props: (
			background: false,
			foreground: true, accent:false,
			border: false,
			fill:accent,
			hover-foreground:false,
			hover-fill: false
		);

		@include c-kabob(light-alt, $props, true, false) {
			&__left, &__right {
				opacity: 0;
				@include u-transition(opacity);
			}
			&:hover {
				#{$parent}__left, #{$parent}__right {
					opacity: 1;
				}
			}
			&__center {
				@include rhythm-margin-sides(left right, sm);

			}
		}

		a {
			//@extend %u-reset-link-color;
		}


	}

	.site-nav__item {


		.site-nav__link {

			@include g-typeset(lg, font-san-serif);
			@extend %u-reset-link-color;

		}

		.site-nav__dropdown-link {

			@include g-typeset(base, font-serif);
			//			@extend %u-reset-link-color;

			&__icon {
				//background: red;
				@include rhythm-margin-sides(right, sm);
				@include u-icon-svg(false, 1.2em);
				opacity: 0;
				@include u-transition(opacity);
			}
		}

		.site-nav__dropdown {

			$props: (
				background: true,
				foreground: true,
				border: false,
				fill:foreground
			);
			@include g-color-scheme(dark-accent-default, $props);

			u {
				padding: 0;
			}

			li {
				@include u-vcenter;

				&:hover {
					.site-nav__dropdown-link__icon {
						opacity: 1;
					}
				}

			}

			@include rhythm-padding(xl, true);
		}

		&.site-nav--has-dropdown {
			$props: (
				background: true,
				foreground: true,
				border: false,
				fill:accent,
				hover-foreground:false,
				hover-fill: false
			);
			//@include g-color-scheme(dark,$props);

			.icon-arrow-down {
				@include g-typeset(sm, font-san-serif);

			}

		}

		&.site-nav--active {

			$props: (
				background: false,
				foreground: true,
				border: false,
				fill:accent,
				hover-foreground:false,
				hover-fill: false
			);
			@include g-color-scheme(light, $props);

			.Owool_Main-Menu__item__left {
				opacity: 1;
			}
		}
	}
}
