$logo-width: 10%;

$show-guides: false;

.Owool_Mobile-Header {

	$self: &;

	@include breakpoint-range(md, ">=") {
		display: none;
	}

	@include u-default-container;
	@extend %u-reset-link-color;

	padding-top: rhythm(1);

	position: relative;
	display: block;

	&__divider{
		//background: red;
		@include rhythm-padding-sides(bottom,lg);
	}
	&__nav-trigger {
		padding-left: rhythm(1);
		//  background: red;
		// display: none;
	}

	&__wrapper {

		display: grid;
		grid-template-columns: 20% 60% 20%;
		grid-gap: 0;

		justify-items: stretch;
		align-items: stretch;
		width: 100%;
		height: 100%;
		overflow: hidden;

		@include margin-trailer(1);
		> * {
			&:nth-child(1) {
				@if ($show-guides) {
					background: pink;
				}
				align-self: flex-start;
			}
			&:nth-child(2) {
				@if ($show-guides) {
					background: orange;
				}
				@include breakpoint-range(sm) {
					padding: 0 rhythm(2);
				}
			}
			&:nth-child(3) {
				@if ($show-guides) {
					background: yellow;
				}
				//align-self: flex-end;
			}
			&:nth-child(4) {
				@if ($show-guides) {
					background: red;
				}
			}
		}
	}

	&__logo {

		height: auto;
		width: 100%;

		@include breakpoint-range(xs) {
			padding: 0 rhythm(3) rhythm(1) rhythm(3);
		}
		@include breakpoint-range(sm) {
			width: 80%;
			max-width: 40vw;
			margin: 0 auto;
			padding: 0 rhythm(1) rhythm(1) rhythm(1);
		}
		.Owool_Logo_SVG {
			width: 100%;
			height: auto;
		}
	}

	&__meta {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		height: auto;
		flex-wrap: nowrap;

		$props: (
			background: true,
			foreground: true,
			border: false,
			accent:foreground
		);
		@include g-color-scheme($chroma-active-scheme, $props);

		// font-style: italic;

		//@include u-inherit-selector();
	}

	//part of meta

	&__cart {
		width: auto;

		@include g-typeset(sm, font-serif-italic); //this resizes the icon;

		&-icon {
			@include g-typeset(lg, font-serif-italic); //this resizes the icon;

			// @include u-icon-svg(false,2em);
			.c-button {
				//@include set-type(xxl); //this resizes the icon;
				//padding-bottom: get-spacing(.25);
			}
		}
		&-item-count {

		}
	}

	ul{
		padding: 0;
	}


	.col__final{
	//	background: red;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__customer {
		width: auto;

		@include trailer(1);
		//padding: 0 rhythm(.5) 0 rhythm(1);
		@include u-horizontal-list(0);

		align-items: center;
		//  @include set-type(0, font-serif-italic);
		&-account {

		}
		&-login {

		}
		&-logout {

		}
		&-create {
			display: none;
		}
	}

	&__search {
		//background: red;
		padding: 0;

		.c-button{
			padding: 0;
			border-width: 0;
		}


		input[type="search"]{
			width: 20px!important;
		//	background: red;
			border-width: 0;
		}
		//background: red;
		//display: none;
	}

	//Owool_Mobile-Header__nav-trigger
}

.mobile-nav{
	padding: 0;
	@include rhythm-padding-sides( bottom,lg);

	.leaves-deco{
		@include rhythm-padding-sides( top,lg);

	}
	&__social {


		@include rhythm-padding-sides(top bottom,lg);

		width: 90%;
		margin: 0 auto;
		height: auto;
		@include u-horizontal-list(0);
		@include breakpoint-range(sm) {
		}
	}
}

.Owool_Main-Menu-Mobile {

	//display: none;
	a {
		//   @include u-reset-link;
		// @extend %u-reset-link-color;
	}

	// @include u-horizontal-list();

	display: none;

	&.--is-active {

		display: block;
	}
	justify-content: flex-end;

	width: 100%;
	height: 100%;
	background: pink;
	$parent: &;

	// border-bottom: 1px solid color(border);

	// @include setType(2, font-san-serif);

	$props: (
		background: true,
		foreground: true,
		border: false,
		accent:true
	);
	@include g-color-scheme(light, $props);



	&__item {
		$parent: &;
		@include u-transition(opacity);
		$props: (
			background: false,
			foreground: true,
			border: false,
			fill:accent,
			hover-foreground:false,
			hover-fill: false
		);

		@include c-kabob(light-alt, $props, true, auto) {
			&__left, &__right {
				opacity: 0;
				@include u-transition(opacity);
			}
			&__center {
			}
			&:hover {
				#{$parent}__left, #{$parent}__right {
					opacity: 1;

				}
			}
		}
	;
	}

}

.mobile-nav__toggle-btn {
	background-color: initial;
}

.drawer__inner {

	.search-bar {

		// padding: get-spacing();
	}
	.leaves-deco {
		display: flex;
		justify-content: center;

		.c-icon:first-child {
			margin-right: get-spacing(2);
		}
	}
}

///TODO : MORE THIS TO DRAWER MENU
.mobile-nav__item a {
	display: block;
	// font-size: 22px;
	.mobile-nav__subsublist & {
		padding-left: 45px;
		font-size: 16px;
	}
}

.mobile-nav__item a,
.mobile-nav__toggle button {
	color: $colorDrawerText;
	//  padding: $gutter / 2;

	text-decoration: none;

	&:active,
	&:focus {
		// color: darken($colorDrawerText, 15%);
		//background-color: darken($colorDrawers, 5%);
	}
}

.mobile-nav__item {

	@include g-typeset(base, font-serif);

	a {
		@include rhythm-padding-sides(left,lg);
		@include rhythm-padding-sides(top bottom,lg);

		@include g-typeset(md, font-serif);
		color: color($nav-drawer-scheme, foreground); //adaptive-color($colorDrawerText, 25%);
	}

	&--search {
	//	@include rhythm-margin(xl);
		//padding: 0;
	}
}

.mobile-nav__sublist {
	background: darken(color($nav-drawer-scheme, background), 5%);
	@include rhythm-margin-sides(left right,lg);
	@include rhythm-padding-sides(top bottom,md);
	> .mobile-nav__item {
		//padding: get-spacing(2);
		a{
			@include g-typeset(sm, font-small-caps);
		}

		&:after {
			content: none;
		}
	}
}