.product-grid {

	&__card { //li   ///wrapper for below
		background: #00aff4;
		width: 100%;
		border: 2px solid red;
		padding: 20px;
	}

	&__price { ///a
		background: gainsboro;
	}

	&__image_wrapper { ///a
		background: green;
	}

	&__image { //div ( child is img
		background: pink;
		width: 300px;
		border: 2px solid blue;

		img {
			display: block;
			border: 2px solid red;

			//width: auto;
			//max-width: 100%;
			//height: 100%;
		}
	}

	&__badge_wrapper { //div
		background: #6b8b9e;

	}

	&__badge { //span >img inside of above.
		background: yellow;
	}
}
