<div id="product-header" class="diagonal-divider clearfix">

    <div id="product-header-title">
      <h1 id="product-title"><img src="{{ 'prod-title-img.png' | asset_url }}" alt="leaves" style="vertical-align:middle;" /> {{ product.title }}</h1>
      <p class="price"></p> 
    </div>
	<span class="product-tag">{% if product.tags contains "PDF download" %}PDF download{% endif %}</span>
  </div><!-- /#product-header -->

  
  <div class="description">
	{% if settings.show_vendor %}<h2 id="product-vendor">{{ product.vendor | link_to_vendor }}</h2>{% endif %}
    {{ product.description }}
  
  </div>