
/**
 * Umbrella
 */
#umbrella{
    padding: 0 10px 0 12px;
    font-size: 12px;
    position: absolute;
    top: 25px;
    right: 12px;
}

#umbrella ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#umbrella li{
    float: left;
    padding: 3px 6px 0 0;
    margin: 0 0 0 0;
    font-weight: normal;
    list-style: none;
}
#umbrella p{
    margin: 0;
}
#umbrella a{
    color: #adadad;
    font-style:italic;
    letter-spacing:1px;
    text-decoration: none;
}
#umbrella a:hover{ color: #eec517; }
#umbrella #customer_login_link {
    margin: 0 5px;
}
#umbrella .num-items-in-cart .icon{
    display: block;
    padding: 3px 0 0 30px;
    background: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/cart.png?v=13128683299730178493) 0 0 no-repeat;
}
#umbrella .num-items-in-cart:hover .icon{
}

#umbrella .checkout-link{
    padding: 0;
    margin-right: 0;
    border: none;
}

#sm-twitter a {
    background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-twitter.png?v=8024602645730599613);
}
#sm-facebook a {
    background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-facebook.png?v=15632106608496094103);
}
#sm-ravelry a {
    background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-ravelry.png?v=2609728131326572138);
}
#sm-pinterest a {
    background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-pinterest.png?v=4329136776144257300);
}
#sm-instagram a {
    background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-instagram.png?v=8764203506500091316);
}

.social-icons {
    width: 24px;
    height: 24px;
    display: block;
    background-position:0 0;
    text-indent:-9999em;
    position:relative;
    bottom:4px;
}

#sm-twitter a:hover,
#sm-facebook a:hover,
#sm-ravelry a:hover,
#sm-pinterest a:hover,
#sm-instagram a:hover
{ background-position: 0 -25px; }
